@import url(geral.css);

footer {
    border-top: .5rem solid var(--corPreta);
    background-color: var(--cor2);
    color: var(--cor5);
    padding: 1rem;
    margin: .75rem;
    align-items: center;
    justify-content: center;
}
