@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #55A605;
    --cor2: #488C04;
    --cor3: #DEF2B3;
    --cor4: #BFD962;
    --cor5: #F2F2F2;
    --corPreta: #2d2d2d;
    --corSombra: #2d2d2d5b;
}

/* WEB KITS*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield; /* Fallback para navegadores modernos */
}


/* TAGS */

a {
    color: var(--cor5);
    text-decoration: none;
}

h2 {
    margin: 1rem 0;
}

button {
    border: none;
    background-color: white;
}

/* CLASSES */

/* Sizing*/
/* font-size */
.font-075 {
    font-size: .75rem;
}

/* width */
.max-width-1200 {
    max-width: 1200px;
}

.w-1 {
    width: 10%;
}

.w-2 {
    width: 20%;
}

.w-3 {
    width: 30%;
}

.w-4 {
    width: 40%;
}

.w-5 {
    width: 50%;
}

.w-6 {
    width: 60%;
}

.w-7 {
    width: 70%;
}

.w-8 {
    width: 80%;
}

.w-9 {
    width: 90%;
}

.w-10 {
    width: 100%;
}

/* height */

/* SPACING */
/* Margin */
.mt-1 {
    margin-top: 1rem;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

.mt-1-auto {
    margin: 1rem auto;
}

.pointer {
    cursor: pointer;
}

.m-auto {
    margin: auto;
}

/* padding */
.p-1 {
    padding: 1rem;
}

/* DISPLAY */

.d-flex {
    display: flex;
}

.d-none {
    display: none;  
}

.d-block {
    display: block;
}

.d-flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
}

/* Color */
/* Backgroud-color */
.bg-info {
    background-color: rgba(147, 210, 255, 0.535);
}


/* CUSTOM */

.hover:hover {
    text-decoration: underline;
}

.section {
    width: 80%;
    height: 80px;
    margin: 2rem auto;
}

.container {
    width: 90%;
    margin: auto;
    padding: 1rem;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-justfied {
    text-align: justify;
}

.uppercase {
    text-transform: uppercase;
}

.checked {
    color: var(--cor4);
}

.hr {
    border-bottom: 1px solid var(--corPreta);
}

.icon {
    height: 50px;
    width: 100px;
    box-shadow: var(--corSombra) 1px 1px 10px;
    margin-right: 2rem;
}

.btn-success {
    margin: 1rem 2rem;
    border: none;
    border-radius: 16px;
    padding: 1rem;
    background-color: var(--cor3);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--corPreta);
}

.itens-center {
    align-items: center;
    justify-content: center;
}

.errorLog {
    background-color: rgb(248, 136, 136);
}

.rounded {
    border-radius: 10px;
}

.border-1 {
    border: 1px solid black;
}
